html{
	overflow:hidden;
}
body {
	margin:0;
	height:100vh;
	perspective:1px;
	transform-style:preserve-3d;
	overflow-x:hidden;
	overflow-y:auto;
}
#login{
	width:100vw;
	height:7vh;
	background-color:black;
}
#div1 {
	border:10px solid red;
	width:100vw;
	height:220vh;
}	
article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	background-color: #f1f1f1;
	padding: 10px;
	width:100vw;
	height:175vh;
}
.div{
	border:1px dotted lightgrey;
	width:500px;
	height:300px;
	float:left;
	display:block;
}	
.p1{
	font-family: 'Libre Baskerville', serif;
	font-size:14px;
	margin-left:91vw;
	color:white;
	border-left: 4px double white;
	padding:7px;
}
:link{
	text-decoration: none;
	color:white
}
a:visited{
	color:white
}
.pw {
	width:100vw;
	height:80vh;
	padding-top:0vh;
}
.pw::before{
	content:"";
	width:100vw;
	height:80vh;
	background-image:url("../images/audisport.jpg");
	background-size: cover;
	position:absolute;
	z-index: -1;
	left:0;

}
.pw2 {
	width:100vw;
	height:80vh;
}
.pw2::before{
	content:"";
	width:100vw;
	height:80vh;
	background-image:url("../images/audi5.jpg");
	background-size: cover;
	position:absolute;
	z-index: -1;

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: left;
}
li a {
	font-family: 'Exo', sans-serif;
	display: block;
	color: white;
	text-align: center;
	padding: 1vw 2vh;
	text-decoration: none;
	transition-timing-function: ease-out;
	font-size:1.3vw;
}
li a:hover {
	transition: 1.3s;
	background: rgba(255,255,255,0.8);
	color:black;
	font-size:1.5vw;
}
.content1 {
	margin: 0 auto;
	padding:50px;
	width:50%;
	background: rgba(241, 180, 47,0.5);
}
.content2 {
	margin: 0 auto;
	padding:0px;
	width:100vw;
	height:80vh;
	background:rgba(0,0,0,0.5);
}
.text{
	font-size:1.5vw;
	font-family: 'Exo', sans-serif;
	color:black;
}
.text2{
	font-size:1.3vw;
	font-family: 'Exo', sans-serif;
	color:white;
}
.span1{
	font-family: 'Exo', sans-serif;
	font-weight:bold;
	font-size:3vw;
	text-transform:uppercase;
	text-align:center;
}	
.button{
	font-size:1.5vw;
	font-family: 'Exo', sans-serif;
	text-transform:uppercase;
	margin-right:10vw;
	text-align:center;
	float:right;
	padding:1.2vw;
	border:1px solid white;
	width:15vw;
	height:3vh;
}
.button:hover{
	transition:1.5s;
	background-color:rgba(255,255,255,0.4);
}
#end{
	text-align:center;
	background-color:black;
	width:100vw;
	height:35vh;
}

button {
  background-color: burlywood;
  color: white;
  padding: 1vw;
  border: none;
  cursor: pointer;
  width: 8vw;
  height: 6vh;
  margin: auto 0;
  opacity: 0.9;
}

.bttn {
	 margin-left: 3.6vw;
}

button:hover {
  opacity:1;
}